:root {
  --light-primary: #0396a6;
  --light-third: #f26d91;
  --light-fourth: #f2a922;
  --light-secondary: #bf6517;
  --dark-secondary: #f3f4f6;
  --contrast: #8c3b87;
  --box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "starback";
  src: url("../fonts/Starback-vnavM.ttf") format("opentype");
}

@font-face {
  font-family: "rumelita";
  src: url("../fonts/Rumelita-Jpr3K.otf");
}

a {
  text-decoration: none;
  color: var(--light-primary);
}

a:hover {
  color: var(--contrast);
}

body {
  background-color: var(--dark-secondary);
}

h1 {
  font-size: 70px;
  text-align: center;
  margin-top: 100px;
  color: var(--contrast);
}

h2 {
  text-align: center;
  margin-top: 40px;
}

p {
  color: var(--light-primary);
  padding: 0 0 0 2em;
}

p::first-letter {
  font-size: 3rem;
  font-family: "rumelita";
  font-weight: bold;
  line-height: 1;
}

.h3 {
  color: var(--contrast);
}

.heading {
  color: var(--contrast);
  margin: 50px;
  font-family: "rumelita";
  padding: 30px 20px 20px 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px 0 50px 0;
  transform: scale(0.9);
  background-color: var(--light-primary);
  box-shadow: var(--box-shadow);
}

.col-sm-4 {
  justify-content: center;
  align-content: center;
}

.img-rounded {
  border-radius: 50px 0 50px 0;
}

.img-fluid {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.557);
}

.img-wrap {
  float: left;
  max-width: 50%;
  margin: 20px 20px 20px 20px;
}

.rounded {
  border-radius: 30px;
}

.btn {
  color: var(--dark-secondary);
  background-color: var(--light-primary);
  padding: 18px;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

.btn:hover {
  color: var(--dark-secondary);
  background-color: var(--contrast);
  border: solid 1px var(--light-primary);
}

.button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  color: var(--light-primary) !important;
  font-size: 35px;
  font-family: rumelita;
}

.nav-item {
  margin: 14px;
}

.collapse.navbar-collapse li a {
  color: var(--light-primary) !important;
}

.card-body {
  background-color: var(--light-third);
}

.certificates {
  border-radius: 50px 0 50px 0;
  box-shadow: var(--box-shadow);
  margin: 12px 0 12px 0;
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: var(--contrast);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

#contact {
  text-align: center;
  margin-top: 50px;
}

#packet {
  border-radius: 8px;
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

#back-homepage-down {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -30px;
}

#weather-app-button {
  margin-left: -2px;
  margin-top: 15px;
}
